html {
    background-color:	#D3D3D3;
    padding: 0 1em;
  }
  body {
    background-color: #FFF;
    font-family: 'Lato', sans-serif;
    margin: 1em auto;
    max-width: 50em;
    height: 60em;

  }
  #section-left {
    width: 35%;
    float: left;
    height: 100%;
    background-color: #87ceeb;
    color: #fff;
    text-align: center;
  }
  #section-left .section {
    margin-top: 40%;
    padding: 1em;
  }
  #section-left .section .logo {
    height: 150px;
    width: 150px;
    border-radius: 70%;
    margin: 0 auto;

  }
  .intro hr {
    width: 4em;
    display: block;
    height: 2px;
    border: 0px;
    border-top: 2px solid;
  }
  .dob {
    text-decoration: overline underline;
  }
  .intro .content {
    margin-bottom: 20px;
  }
  #contact {
    margin-top: 40px;
  }
  h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
  }
  #section-right {
    width: 65%;
    float: right;
    /*height: 100%;*/
  }
  #section-right .section {
    margin: 0 0 30px 0;
  }
  .wrapper {
    padding: 2em;
  }
  .fa {
    margin-right: 15px;
  }
  .wrapper .title {
    color: #87ceeb;
    font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-bottom: 2px solid #f2f2f2;
  }
  a:link {
    color: #fff;
    text-decoration: none;
  }
  a:visited {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  a:active {
    color: #fff;
    text-decoration: none;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1em;
  }
  h3 {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: normal;
  }
 